p{
  color: red;
}
.events{
  color: gray;
}
p{
  text-align:left;
}
.team-name{
  padding-right:25px;
  display:inline-block;
  width:50px;
}
.red{
  color:red;
  padding:6px;

}
.gray{
  color:gray;
}
.team-scores{
  float:left;
  border-right: 1px solid black;
}

.link{
  padding-right:25px;
}
.barLinks{
  padding:30px;
}
a:hover{
  color:lawnGreen;
}
.espn{
  text-align:left;
  font-family:impact;
  background-color:#000d1a;
  width: 100%;
  color:red;
  padding-right:20px;

}
.commericial{
  float:left;
  border-right: 1px solid black;
  padding:10px;
}


.title{
  text-align:left;
}
h1{
  text-align:center;
}
.beginSimulation{
  float:center;
  color:lightBlue;
  font-family:monaco;


}
.paragraph{
  color:gray;
  text-align:center;
}
.funnySportsNews{
  color:lightSeaGreen;
  font-family:monaco;
}
.petition{
  color:white;
  background-color:black;

}
