p{
  color: red;
}
.events{
  color: gray;
}
p{
  text-align:left;
}
.team-name{
  padding-right:25px;
  display:inline-block;
  width:50px;
}
.red{
  color:red;

}
.gray{
  color:gray;
}
.team-scores{
  float:left;
  border-right: 1px solid black;
}

.link{
  padding-right:25px;
}
.espn{
  text-align:left;
  font-family:impact;
  background-color:#000d1a;
  width: 100%;
  color:red;
  padding:"20";

}
.commericial{
  float:left;
  border-right: 1px solid black;

}

.title{
  text-align:left;
}
h1{
  text-align:center;
}
.beginSimulation{
  text-align:center;

}
.paragraph{
  color:black;
}
